<!-- ta na linha 136 -->

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <script>
    function cb() {
        $.getJSON({
            url: "/callback", success: function (result) {
                Plotly.newPlot('chart', result, {staticPlot: true});;
            }
        });
    }
    function cb2() {
        $.getJSON({
            url: "/callback2", success: function (result) {
                Plotly.newPlot('chart2', result, {staticPlot: true});;
            }
        });
    }
    function updMax() {
        $.getJSON({
            url: "/callback3", success: function (result) {
                document.getElementById("maxt").innerHTML = result + " ºC";
            }
        });
    }
    function updMin() {
        $.getJSON({
            url: "/callback4", success: function (result) {
                document.getElementById("mint").innerHTML = result + " ºC";
            }
        });
    }
    setInterval(updMax, 10000);
    setInterval(updMin, 10000);
    setInterval(cb, 2000);
    setInterval(cb2, 2000);
  </script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <link rel="icon" type="image/jfif" href="static/img/walt.jfif"/>
  <title>WebSite</title>
</head>

<body id="pag1">
	<header class="menu">
		<div class="menu-container">
			<a class="menu-logo" href="#intro"><img src="static/img/website logo.png" alt="website Logo"></a>
			<nav class="menu-nav">
				<ul>
					<li><a href="#sobre">Sobre nós</a></li>
					<li><a href="#precos">Preços</a></li>
					<li><a href="#footer">Contato</a></li>
          <li><a onclick="openLoginForm()" id="login">Entrar</a></li>
				</ul>
			</nav>
		</div>
	</header>
  <br><br><br><br><br>

  <div class="popup-overlay"></div>
    <div class="popup1">
      <div class="login-box">
        <div class="popup-close" onclick="closeLoginForm()">
          ×
        </div>
        <h2>Login</h2>
        <br>
        <form>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>E-mail</label>
        </div>
        <div class="user-box">
          <input type="password" name="" required="">
          <label>Senha</label>
          <p><a onclick="closeLoginForm(); openPasswordForm();">Esqueci minha senha</a> </p>
        </div>
        <br>
        <a id="entrar-neon" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Entrar
        </a>
        <br><br><br>
        <p>Ainda não possui cadastro? <a onclick="closeLoginForm(); openRegisterForm();"> Cadastre-se aqui</a> </p>
        </form>
      </div>
    </div>

    <div class="popup2">
      <div class="login-box">
        <div class="popup-close" onclick="closeRegisterForm()">
          ×
        </div>
        <h2>Cadastro de Usuário</h2>
        <br>
        <form>
          <div class="user-box">
          <input type="text" name="" required="">
          <label>Nome Completo</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Telefone</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>E-mail</label>
        </div>
        <div class="user-box">
          <input type="password" name="" required="">
          <label>Senha</label>
        </div>
        <a id="entrar-neon" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Cadastre-se
        </a>
        <br><br><br>
        </form>
      </div>
    </div>

    <div class="popup3">
      <div class="login-box">
        <div class="popup-close" onclick="closePasswordForm()">
          ×
        </div>
        <h2>Esqueci minha senha</h2>
        <br>
        <form>
          <p>Insira seu e-mail abaixo para que possamos enviar uma mensagem com o link para redefinição de senha. (Não esqueça de checar as pastas de spam e lixo eletrônico)</p>
          <br>
          <p>Se o e-mail não chegar em até 10 minutos, <a> clique aqui</a>.</p>
          <br><br>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Insira o e-mail cadastrado</label>
        </div>
        <a id="entrar-neon" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Redefinir senha
        </a>
        <br><br><br>
        </form>
      </div>
    </div>
  </div>

  <span class="anchor" id="intro"></span>
  <main class="intro">
    <h1>Sensor 1</h1>
    <p>Sensor simulado virtualmente</p>
  </main>

  <br>
  <br>
  <br>
  <br>

  <center>
    <h1>Os dados deste sensor são gerados artificialmente na própria API</h1>
    <button class="updbutton" type="button" onclick="cb()"> Atualizar gráfico manualmente </button>
    <!-- <meta http-equiv="refresh" content="30">-->      <!-- MURILO O NEGOCIO QUE VOCÊ TA PROCURANDO TA AQUI NESSE SEGMENTO-->
    <div id="chart" class="chart"></div>
    <br>
    <div id="chart2" class="chart"></div>
  </center>

    <div class="container">
    <div class="sections section1">
      <div class="content">
        <section>
          <h2 id="maxt">{{MaxTemp}} ºC</h2>
            <br>
          <p>Maior temperatura alcançada na última hora</p>
        </section>
        <section>
          <h2 id="mint">{{MinTemp}} ºC</h2>
            <br>
          <p>Menor temperatura alcançada na última hora</p>
        </section>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="sections section1">
      <div class="content">
        <section>
          <img src="static/img/css-is-awesome.jpg" class="img-responsive">
            <br>
          <h2>Opinião</h2>
            <br>
          <p>Eu <a href="https://cdn.discordapp.com/attachments/470327818056892428/974435889725988975/unknown.png" target="_blank">odeio</a> fazer html & css</p>
        </section>
        <section>
          <img src="static/img/css-is-awesome.jpg" class="img-responsive">
            <br>
          <h2>Template</h2>
            <br>
          <p>Aqui vai ter algum tipo de informação referente ao microcontrolador ou sobre a <a href="https://canaltech.com.br/software/o-que-e-api/#:~:text=API%20é%20um%20conjunto%20de,Interface%20de%20Programação%20de%20Aplicativos".">API</a>.</p>
        </section>
      </div>
    </div>
  </div>

  <br><br><br><br>
  <!--
  <span class="anchor" id="sobre"></span>
  <div class="container">
    <div class="sections section1">
      <div class="content">
        <section>
          <div class=img-dsc></div>
        </section>
        <section>
            <br><br><br><br>
          <h1 style="margin-right:30px; font-size:40px;">Quem somos?</h1>
            <br>
          <p style="margin-right:30px; font-size:20px;">A equipe do Gamind é composta por dois desenvolvedores, responsáveis por este site! Entretanto, os jogos e aulas vem de usuários mais experiêntes e professores formados na área!</p>
        </section>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="sections section1">
      <div class="content">
        <section>
          <br><br><br><br>
          <h1 style="margin-left:30px; font-size:40px;">O que fazemos?</h1>
          <br>
          <p style="margin-left:30px; font-size:20px;">Nosso objetivo é facilitar o acesso ao conhecimento de programação através de jogos, aulas e bate-papos com professores especializados em diversos assuntos. Fora os jogos e as aulas, também são disponibilizados exercícios que podem ser elaborados tanto pelos professores quanto pela comunidade, caso nossos alunos sintam-se confiantes o suficiente.</p>
        </section>
        <section>
          <div class="img-dsc2"></div>
        </section>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

  <span class="anchor" id="precos"></span>
  <div>
    <br>
    <br>
    <br>
    <br>
  </div>
  !-->
  <br><br><br>

  <div class="footer" id="footer">
      <div class="heading">
        <h2>web site . com <sup>&trade;</sup></h2>
      </div>
      <div class="content">
        <div>
          <h4>Social</h4>
          <p>
            <a href="https://www.linkedin.com/" target="_blank">Linkedin</a>
          </p>
          <p>
            <a href="https://twitter.com/" target="_blank">Twitter</a>
          </p>
          <p>
            <a href="https://github.com/" target="_blank">Github</a>
          </p>
          <p>
            <a href="https://codepen.io/" target="_blank">Codepen</a>
          </p>
          <p>
            <a href="https://www.instagram.com/" target="_blank">Instagram</a>
          </p>
        </div>
        <div>
          <h4>Acesso rápido</h4>
          <p><a href="#intro">Home</a></p>
          <p><a href="#footer">Sobre</a></p>
          <p><a href="#">Blogs</a></p>
          <p><a href="#footer">Contato</a></p>
        </div>
        <div>
          <h4>Endereço</h4>
          <p>
            Curitiba
          </p>
          <h4>Telefone</h4>
          <p>+41 (55) 99999-9999</p>
          <h4>Email</h4>
          <p>nerdoswampo@gmail.com</p>
        </div>
      </div>
      <footer>
        <hr/>
        &copy; 2022 nerdoswmp. &trade; Ltd.
      </footer>
    </div>
    <script type="text/javascript" src="static/js/script.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
<script type="text/javascript">
  d = {{ graphJSON | safe }};
  e = {{ graphJSON2 | safe }};
  Plotly.newPlot('chart2', e, {});
  Plotly.newPlot('chart', d, {});

</script>
</html>